<!--
  Generated template for the UserViewProjectsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>UserViewProjects</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-segment [(ngModel)]="selected">
    <ion-segment-button value="past" (ionSelect)="pastProjects()">
      Past Projects
    </ion-segment-button>
    <ion-segment-button value="present" (ionSelect)="presentProjects()">
      Present Projects
    </ion-segment-button>
  </ion-segment>
  <ion-card *ngFor="let data of projects">
    <ion-card-header color="dark" text-center>
      {{data.roadname}}
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Contractor: {{data.contractor}}</ion-label>
        <ion-label>Tender Issue Date: {{data.issuedate}}</ion-label>
        <ion-label>Expected Completion Date: {{data.expectedenddate}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Started On: {{data.startdate}}</ion-label>
        <ion-label>Completion Date: {{data.enddate}}</ion-label>
        <ion-label>Predicted Completion Date: {{data.predicteddate}}</ion-label>
      </ion-item>
      <ion-item>
      <button ion-button round (click)="showProgress()" *ngIf="selected=='present'">Progress</button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
