<!--
  Generated template for the UserViewProjectsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar text-center color="primary">
    <ion-title>Projects</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-segment [(ngModel)]="selected">
    <ion-segment-button value="past" (ionSelect)="pastProjects()">
      Past Projects
    </ion-segment-button>
    <ion-segment-button value="present" (ionSelect)="presentProjects()">
      Present Projects
    </ion-segment-button>
  </ion-segment>
  <ion-card *ngFor="let data of projects">
    <ion-card-header color="dark" text-center>
      <span item-start ion-text color="secondary" class="item-bold">{{data.roadname}}</span>
    </ion-card-header>
    <ion-card-content>
      <ion-item text-wrap>
        <ion-label><span item-start ion-text color="primary" class="item-bold">Contractor:</span> {{data.contractor}}</ion-label>
        <ion-label><span item-start ion-text color="primary" class="item-bold">Tender Issue Date:</span> {{data.issuedate}}</ion-label>
        <ion-label><span item-start ion-text color="primary" class="item-bold">Expected Completion Date:</span> {{data.expectedenddate}}</ion-label>
      </ion-item>
      <ion-item text-wrap>
        <ion-label><span item-start ion-text color="primary" class="item-bold">Started On:</span> {{data.startdate}}</ion-label>
        <ion-label><span item-start ion-text color="primary" class="item-bold">Completion Date:</span> {{data.enddate}}</ion-label>
        <ion-label *ngIf="selected=='present'"><span item-start ion-text color="primary" class="item-bold">Predicted Completion Date:</span> {{data.predicteddate}}</ion-label>
      </ion-item>
      
      <div text-center>
        <button ion-button round (click)="showProgress(data.id)" *ngIf="selected=='present'">Progress</button>
      </div>
      <div text-center>
        <button ion-button round (click)="endTask(data.govt,data.id)" *ngIf="selected=='present'">Finish Job</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
