<!--
  Generated template for the MaintenanceQueryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar text-center color="primary">
    <ion-title>Maintenance Query</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-card *ngFor="let data of queries">
  <ion-card-header>
    {{data.roadname}}
  </ion-card-header>
  <ion-card-content text-wrap>
    <ion-img *ngIf="data.has_photo" [src]=""></ion-img>
    <ion-item>
    <ion-label>Date: {{data.date}}</ion-label>
    </ion-item> 
    <ion-item>
      <ion-label>Submitted By: {{data.user}}</ion-label>
    <ion-label>PinCode: {{data.pincode}}</ion-label>
    </ion-item>
    <ion-item>
    <ion-label>Severity: {{data.severity}}</ion-label>
    </ion-item>
    <ion-item>
    <ion-label>
      Contractor:
    </ion-label>
      <ion-select [(ngModel)]="selectedContractor">
      <ion-option *ngFor="let l of contractor" [value]="l">
        {{l}}
      </ion-option>
      </ion-select>
    </ion-item>
    <button ion-button class="btns" (click)="authenticate(data.user,data.year,data.day,1,data.date,data.lan,data.lon,data.photo,data.pincode,data.roadname,data.severity)">YES</button>
    <button ion-button class="btns" (click)="authenticate(data.user,data.year,data.day,0,data.date,data.lan,data.lon,data.photo,data.pincode,data.roadname,data.severity)">NO</button>
  </ion-card-content>
</ion-card>
</ion-content>
