<!--
  Generated template for the GovtPendingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar text-center color="primary">
    <ion-title>Pending </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let card of cards" class="adv-map">
    <ion-item >
      <ion-icon color="subtle" large item-start name='information-circle'></ion-icon>
      <h2>{{card.tender_name}}</h2>
      <p>Tender ID</p>
    </ion-item>
    <ion-item >
      <ion-icon color="subtle" large item-start name='leaf'></ion-icon>
      <h2>{{card.contractor_name}}</h2>
      <p>Contractor ID</p>
    </ion-item>
    <ion-item actions>
      <!-- <span item-start ion-text color="subtle">{{card.date}}</span> -->
      <button ion-button color="primary" clear item-end icon-left (click)="getTender(card)">
      <ion-icon name='navigate'></ion-icon>
      Enter
      </button>
    </ion-item>
  </ion-card>
</ion-content>
