<!--
  Generated template for the UserLoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <div padding>
    <ion-row>
      <ion-col>
        <img class="logo" src="assets/imgs/company3.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list inset class="no-border">
            <ion-item>
              <ion-label floating>Username</ion-label>
              <ion-input type="text" #username ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Password</ion-label>
              <ion-input type="password" #password ></ion-input>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button round class="login-button" (click)="login()"><span class="textColor">Login</span></button>
        <br>
        <button ion-button round clear class="login-button forget" (click)="presentPrompt()"><span class="textColor">Forgot &nbsp;&nbsp;Password</span></button>
      </ion-col>
      <br>
    </ion-row>
  </div>
</ion-content>

