<ion-header no-border>
  <ion-navbar>
    <ion-title class="ion-text-center">
      Contractor Home
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-segment color="danger" [(ngModel)]="tense">
    <ion-segment-button checked value="past" (ionSelect)="showPastContracts()">
      Past Contracts
    </ion-segment-button>
    <ion-segment-button value = "present" (ionSelect)="showPresentContracts()">
      Present Contracts
    </ion-segment-button>
  </ion-segment>
  <ion-card *ngFor="let data of projects">
    <ion-card-header color="dark" text-center>
      {{data.roadname}}
    </ion-card-header>
    <ion-card-content>
      <ion-item text-wrap>
        <ion-label>Contractor: {{data.contractor}}</ion-label>
        <ion-label>Tender Issue Date: {{data.issuedate}}</ion-label>
        <ion-label>Expected Completion Date: {{data.expectedenddate}}</ion-label>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>Started On: {{data.startdate}}</ion-label>
        <ion-label>Completion Date: {{data.enddate}}</ion-label>
        <ion-label>Predicted Completion Date: {{data.predicteddate}}</ion-label>
      </ion-item>
      <ion-item>
        <button ion-button *ngIf="tense=='present'" (click)="navToSubmitReport(data.id)"> Submit Report</button>
      </ion-item>
      <ion-item>
        <button ion-button (click)="showProgress(data.id)"> Show Progress</button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>  