<ion-header no-border>
  <ion-navbar>
    <ion-title class="ion-text-center">
      Contractor Home
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-segment color="danger" [(ngModel)]="tense">
    <ion-segment-button checked value="past" (ionSelect)="showPastContracts()">
      Past Contracts
    </ion-segment-button>
    <ion-segment-button value = "present" (ionSelect)="showPresentContracts()">
      Present Contracts
    </ion-segment-button>
  </ion-segment>
  <ion-card *ngFor="let data of projects">
    <ion-card-header color="dark" text-center>
      <span item-start ion-text color="secondary" class="item-bold">{{data.roadname}}</span>
    </ion-card-header>
    <ion-card-content>
      <ion-item text-wrap>
        <ion-label><span item-start ion-text color="primary" class="item-bold">Contractor:</span> {{data.contractor}}</ion-label>
        <ion-label><span item-start ion-text color="primary" class="item-bold">Tender Issue Date:</span> {{data.issuedate}}</ion-label>
        <ion-label><span item-start ion-text color="primary" class="item-bold">Expected Completion Date:</span> {{data.expectedenddate}}</ion-label>
      </ion-item>
      <ion-item text-wrap>
        <ion-label><span item-start ion-text color="primary" class="item-bold">Started On:</span> {{data.startdate}}</ion-label>
        <ion-label><span item-start ion-text color="primary" class="item-bold">Completion Date:</span> {{data.enddate}}</ion-label>
        <ion-label><span item-start ion-text color="primary" class="item-bold">Predicted Completion Date:</span> {{data.predicteddate}}</ion-label>
      </ion-item>
      <div text-center>
        <button ion-button *ngIf="tense=='present'" (click)="navToSubmitReport(data.id)"> Submit Report</button>
      </div>
      <div text-center>
        <button ion-button (click)="showProgress(data.id)"> Show Progress</button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>  