<!--
  Generated template for the ContractorProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content parallax-header no-bounce class="bg-modal">
  <div class="header-image">
      <div>  
      </div>
  </div>
  <div class="main-content" text-wrap text-center>
      <div class="circular"> 
          <!-- <img src="assets/imgs/profile.png"> -->
          <!-- <img [src]="base64Image" *ngIf="base64Image" /> -->
          <ion-img width="100" height="100" [src]="base64Image" *ngIf="base64Image"></ion-img>
      </div>
      <h2>{{user.name}}</h2>
      <hr>  
      <ion-list no-lines class="descp">
          
          <ion-item >
              <div><label class="fgh"><span item-start ion-text color="primary" class="item-bold">Email :</span></label><input type="text" value="{{user.email}}" [disabled]="isDisabled"  class="def" id="email"></div>
          </ion-item>
          
          <ion-item>
              <div><label class="fgh"><span item-start ion-text color="primary" class="item-bold">Mobile :</span></label><input type="text" value="{{user.phone}}" [disabled]="isDisabled"  class="def" id="mobile"></div>
          </ion-item>
          
          <ion-item>
              <div><label class="fgh"><span item-start ion-text color="primary" class="item-bold">Address :</span></label><input type="text" value="{{user.address}}" [disabled]="isDisabled"  class="def" id="address"></div>
          </ion-item>

          <!-- <ion-item>    
              <div><label class="fgh">Date of Birth :</label><input type="date" value="{{user.dob}}" name="birthday" [disabled]=true readonly class="def"></div>
          </ion-item> -->
          
          <ion-item >
              <div><label class="fgh"><span item-start ion-text color="primary" class="item-bold">Aadhar Number :</span></label><input type="text" value="{{user.aadhaar}}" [disabled]=true class="def"></div>
          </ion-item>
          
          <!-- <ion-item>
              <div><label class="fgh">Pan Number :</label><input type="text" value="{{user.pan}}" [disabled]=true class="def"></div>
          </ion-item> -->
      
      </ion-list>
      
  </div>
  
  
  
  
  
  <!-- <div text-center>
      <button ion-button round clear (click)="presentPrompt()" color="danger" width="200px">Change Password</button>
  </div> -->
  <div text-center>
      <button ion-button round (click)="logout()" color="danger">Sign Out</button>
  </div>
  <br>
  <br>
  
  <ion-fab bottom right id="editButton" *ngIf="hide">
      
      <button ion-fab class="pop-in" color="danger" small><ion-icon ios="ios-add" md="md-add"></ion-icon></button>
      
      <ion-fab-list side="top">
          <button ion-fab color="primary" (click)="takePicture()">
              <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
          </button>
          <button ion-fab color="secondary" (click)="openGallery()" >
              <ion-icon ios="ios-image" md="md-image"></ion-icon>
          </button>
      </ion-fab-list>
      
      <ion-fab-list side="left">
          <button ion-fab (click)="openEdit()" >
              <ion-icon ios="ios-create" md="md-create"></ion-icon>
          </button>
      </ion-fab-list>
      
  </ion-fab>
  <ion-fab bottom right *ngIf="!hide" (click)="closeEdit()">
      <button ion-fab class="pop-in" color="green" small><ion-icon name="checkmark-circle-outline"></ion-icon></button>
  </ion-fab>
  
</ion-content>

