<!--
  Generated template for the GovtContractorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding text-center class="master">
  <ion-list>
    <ion-list-header class="masters">
      <h1>List Of Contractors</h1>
    </ion-list-header>
    <ion-item-sliding #slidingItem *ngFor="let contractor of contractors; let i = index;">
    <ion-item (click)="showContractor(i)" #item class="item chat-item">
      <ion-avatar item-start>
        <img src="assets/imgs/company3.png">
      </ion-avatar>
      <ion-icon item-end color="primary" name="arrow-dropright" (click)="openOption(slidingItem, item, $event)"></ion-icon> 
      <h2>{{contractor.name}}</h2>
      <p> {{contractor.code}}</p>
    </ion-item>
    <ion-item-options icon-start >
      <button color="danger" ion-button expandable (click)="deleteContractor(i)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <button ion-button round (click)="logout()" color="blue" small class="chilli">Sign Out</button>

</ion-content>
<ion-footer>
  <button ion-button large full no-margin color="#097ddb" (click)="createTender()">
    Add a new Contractor
  </button>
</ion-footer> 
