page-govt-contractors {

    $color: #2194E0;
	background-color: #f7aa5d;

	.chat-item.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
  }

  .chat-item.ng-enter-stagger {
    -webkit-animation-delay:200ms;
    animation-delay:200ms;

    /* override to make sure it's not inherited from other styles */
    -webkit-animation-duration:0;
    animation-duration:0;
  }

	.master {
		background: linear-gradient(0deg,  #B7F8DB 0%, transparent 100%),#50A7C2 ;
		color: white;
		font-weight: bolder;
	}

	.masters {
		background: linear-gradient(0deg, #13547a 0%, transparent 100%),#80d0c7 ;
		color: white;
		font-weight: bolder;
	}

	.item:hover {
		background-color: rgb(127, 238, 219);
		color: white;
	}

	.chilli:hover{
		background-color: white;
		color: red;
	}


	// @keyframes sheen {
	//   0% {
	//     transform: skewY(-45deg) translateX(0);
	//   }
	//   100% {
	//     transform: skewY(-45deg) translateX(12.5em);
	//   }
	// }

	// .wrapper {
	//   display: block;
	//   position: absolute;
	//   top: 50%;
	//   left: 50%;
	//   transform: translate(-50%, -50%);
	// }
	// button {
	//   padding: 0.75em 2em;
	//   text-align: center;
	//   text-decoration: none;
	//   color: $color;
	//   border: 2px solid $color;
	//   font-size: 24px;
	//   display: inline-block;
	//   border-radius: 0.3em;
	//   transition: all 0.2s ease-in-out;
	//   position: relative;
	//   overflow: hidden;
	//   &:before {
	//     content: "";
	//     background-color: rgba(255,255,255,0.5);
	//     height: 100%;
	//     width: 3em;
	//     display: block;
	//     position: absolute;
	//     top: 0;
	//     left: -4.5em;
	//     transform: skewX(-45deg) translateX(0);
	//     transition: none;
	//   }
	//   &:hover {
	//     background-color: $color;
	//     color: #fff;
	//     border-bottom: 4px solid darken($color, 10%);
	//     &:before {
	//       transform: skewX(-45deg) translateX(13.5em);
	//      transition: all 0.5s ease-in-out;
	//     }
	//   }
	// }

}
